* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: white;
	height: 100%;
}

.page-wrapper {
	font-family: "Roboto", sans-serif;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	background-color: #c6ecf7;
	padding: 15px;
}

.banner {
	padding-top: 15px;
	text-align: center;
	margin-bottom: 20px;
}

#filedelete {
	margin-top: 15px;
}

.links {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	column-gap: 15px;
	justify-content: center;
}

.number-input {
	width: 50px;
}
